.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 20vh;
    background-color: dimgrey;
    border-top: 10px solid black;
    border-bottom: 10px solid black;
    align-items: center;

    .content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        align-items: center;
        padding-left: 2%;
    }
    
    span, .nav-link {
        font-size: 2rem;
        -webkit-text-stroke-width: .04rem;
        -webkit-text-stroke-color: black;
    }

    .mr-footer {
        display: flex-end;
        flex-direction: row;
        margin-right: 0;
        justify-self: right;
    }
    
}

