#root {
  width: 100%;
}
body {
  width: 100vw;
}
.home-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(8, 33vh);
  background-color: lightgray;
  justify-self: center;
  @media(max-width: 1200px) {
      padding-left: 15%;
  }

  a {
      text-decoration: none;
      color: black;

      :hover {
          color: cornflowerblue;
      }
  }

  h2 {
    font-weight: bolder;
  }

  h4 {
    font-style: italic;
  }
  .rowOne {
    display: flex;
    flex-direction: row;
    @media(max-width: 1200px) {
        flex-direction: column;
        height: 60vh;
        width: 66vw;
        justify-self: center;
    }
    width: 90vw;
    height: 20vw;
    margin-left: 5vw;
    margin-top: 4vh;
    justify-content: space-between;
    justify-self: center;
    text-align: center;
    padding: 5vh;
    background-color: rgba(150, 150, 150, .5);


    div {
      background-color: cornflowerblue;
      width: 30%;
      @media(max-width: 1200px) {
          width: 100%;
      }
      
      &:hover {
          border: 4px solid white;
          color: gray;
          background-color: white;
          -webkit-text-stroke-width: .036rem;
          -webkit-text-stroke-color: white;
      }
    }
  }

  .oneOne {
    display: grid;
    align-items: center;
    grid-row: 1;
    grid-column: 1;
    flex-direction: column;

    padding: 3vh;
  }

  .oneTwo {
    display: grid;
    align-items: center;
    grid-row: 1;
    grid-column: 2;
    flex-direction: column;

    padding: 3vh;
  }

  .oneThree {
    display: grid;
    align-items: center;
    grid-row: 1;
    grid-column: 3;
    flex-direction: column;

    padding: 3vh;
  }

  .rowTwo {
    display: grid;
    grid-row: 2;
  }
}
